body {
  background-color: rgb(227, 225, 225);
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.center-container {
  width: 400px;
}

.app-heading {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

.input-box-todo {
  flex: 1;
  padding: 10px;
  border: 1px solid #c1c0c0;
  border-radius: 5px;
  outline: none;
}

.add-btn {
  width: 50px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color:  whitesmoke;
  font-size: 1.2rem;
  cursor: pointer;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.icons {
  margin-left: auto;
}

.delete-button {
  background-color: rgb(241, 86, 15);
  color:   whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.delete-button:hover {
  background-color: red;
}


@media screen and (max-width: 768px) {
  .center-container {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .center-container {
    width: 100%;
    padding: 0 10px;
    margin-right: 10vw;
    margin-bottom: 20vh;
  }
}

@media screen and (max-width: 820px) {
  .center-container {
    margin-right: 10vw;
    margin-left: 6vw;
    margin-bottom: 34vh;
  }
}